#list-page {
    max-width: 768px;
}

#page-404 {
    max-width: 768px;
}

#section {
    max-width: 768px;
}


#tags {
    max-width: 768px;
}

#archive {
    max-width: 768px;
}

#single {
    max-width: 768px;
}

body {
  font: normal 16px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #202020;
  line-height: 1.5;
}
