[submodule "themes/cactus-plus"]
	path = themes/cactus-plus
	url = https://github.com/nodejh/hugo-theme-cactus-plus.git
[submodule "public"]
	path = public
	url = git@github.com:aheimsbakk/aheimsbakk.github.io
	branch = master
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
